body {
    font-family: serirf;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
.opciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f0f0f0; /* Color de fondo */
    padding: 10px 30px; /* Espaciado */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    height: 80px; /* Alto del menú */
}

.img-logo img, 
.img-carrito img {
    width: 70px; /* Tamaño ajustado de las imágenes */
    height: auto;
}

.op {
    flex-grow: 1; /* Ocupa el espacio disponible */
    display: flex;
    justify-content: center; /* Centra las opciones */
    gap: 40px; /* Espacio entre opciones */
    font-family: 'Poppins', sans-serif;
}

.op a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.2s ease;
}

.op a:hover {
    color: #ff6600; /* Color al pasar el mouse */
    transform: scale(1.1); /* Efecto de agrandado */
}

.body{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 5% 10px;

}
.tex{
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}
.body img{
    width: 340px;
    height: auto;
}




footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
