.custom-justify {
    text-align: justify;
  }

/* .carousel-item{
  
} */

/* #carousel-item-start{
  max-height: 360px;
} */

@media screen and (min-width: 768px) {
.cards-wrapper{
  display: flex;
  margin-bottom: 0.5em;
  
}
.card{
  margin: 0.5em;
  width: calc(100%/3);
}
}

#carousel-control-prev-concept, #carousel-control-next-concept{
  background-color: #a9abad;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);

}

@media screen and (max-width: 768px) {
  .card:not(:first-child){
    display: none;
  }
}

footer{
   background: #a9abad;
}

ul{
  list-style: none;
}